In [ ]:
#EDA

In [93]:
#IMPORTING LIBRARIES

import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

# Importing data
df_raw = pd.read_csv('dataset_2021.csv')

# Creating a copy of the raw data to mantain the original version just in case
df = df_raw.copy()

In [94]:
# Convert read_date and subscription_date field to datetime type
df['read_date'] = pd.to_datetime(df['read_date'])
df['subscription_date'] = pd.to_datetime(df['subscription_date']) 

# Define the date range
start_date = '2021-01-01'
end_date = '2021-12-31'

# Filter rows based on the date range
filtered_df = df[(df['read_date'] >= start_date) & (df['read_date'] <= end_date)]

# Save the new DataFrame to a new CSV file
filtered_df.to_csv('dataset_2021.csv', index=False)

# Use df instead of filtered_df
df = filtered_df

In [25]:
df

,read_date,user_uuid,category,journalist_id,language,length,country,subscription_date,platform,article_id,stars,personas
0,2021-02-25,243,art,117,it,short,it,2020-08-24,tablet,5128,3,P3
1,2021-07-08,157,weather,111,it,long,it,2020-12-02,tablet,732766,5,P1
2,2021-04-17,181,sport,114,en,short,uk,2020-09-12,pc,313130,1,P1
3,2021-11-17,138,finance,111,it,short,it,2020-06-04,pc,612403,3,P2
4,2021-10-04,94,news,103,it,long,it,2020-03-24,pc,632117,5,P3
...,...,...,...,...,...,...,...,...,...,...,...,...
85,2021-01-27,48,weather,114,it,medium,it,2020-10-21,tablet,722526,5,P1
86,2021-09-06,19,sport,107,en,short,uk,2020-12-04,tablet,313793,1,P1
87,2021-11-22,77,weather,106,it,long,it,2020-01-06,mobile,732297,5,P1
88,2021-09-26,224,economy,117,it,short,it,2020-04-06,pc,212474,4,P2
89,2021-10-05,138,lifestyle,116,it,long,it,2020-06-04,mobile,132857,1,P2

In [ ]:
df.info()

In [ ]:
df.head(5)

In [ ]:
# Get the number of records in the dataset
num_record = len(df)
num_record

In [ ]:
df['stars'].describe()

In [9]:
#CATEGORY DISTRIBUTION

cat = df['category'].value_counts()
cat_per = df['category'].value_counts(normalize = True).mul(100).round(1).astype(str) + '%'
pd.concat([cat, cat_per],axis = 1, keys = ['Category Count', 'Percentage'])

           Category Count Percentage
weather                24      26.7%
sport                  15      16.7%
finance                15      16.7%
lifestyle              13      14.4%
news                   10      11.1%
economy                 9      10.0%
art                     4       4.4%

In [ ]:
#lANGUAGE DISTRIBUTION

lang = df['language'].value_counts()
lang_per = df['language'].value_counts(normalize = True).mul(100).round(1).astype(str) + '%'
pd.concat([lang,lang_per],axis = 1, keys = ['Language Count', 'Percentage'])

In [ ]:
#LENGTH DISTRIBUTION

length = df['length'].value_counts()
length_per = df['length'].value_counts(normalize = True).mul(100).round(1).astype(str) + '%'
pd.concat([length, length_per],axis = 1, keys = ['Length Count', 'Percentage'])

In [ ]:
#COUNTRY DISTRIBUTION

country = df['country'].value_counts()
country_per = df['country'].value_counts(normalize = True).mul(100).round(1).astype(str) + '%'
pd.concat([country, country_per],axis = 1, keys = ['Country Count', 'Percentage'])

In [ ]:
#PLATFORM DISTRIBUTION

plat = df['platform'].value_counts()
plat_per = df['platform'].value_counts(normalize = True).mul(100).round(1).astype(str) + '%'
pd.concat([plat,plat_per],axis = 1, keys = ['Platform Count', 'Percentage'])

In [ ]:
#STARS DISTRIBUTION

stars = df['stars'].value_counts()
stars_per = df['stars'].value_counts(normalize = True).mul(100).round(1).astype(str) + '%'
pd.concat([stars, stars_per],axis = 1, keys = ['Stars Count', 'Percentage'])

In [8]:
# Count number of users
users_count = df['user_uuid'].nunique()

# Count number of journalists
journalists_count = df['journalist_id'].nunique()

# Count number of articles
articles_count = df['article_id'].nunique()

# Count number of access days
read_count_un = df['read_date'].nunique()

print("Number of users:", users_count)
print("Number of journalists:", journalists_count)
print("Number of articles:", articles_count)
print("Number of articles read:", articles_count) # This might need correction, depending on what you want to display
print("Number of access days:", read_count_un)

Number of users: 53
Number of journalists: 22
Number of articles: 90
Number of articles read: 90
Number of access days: 80

In [28]:
# Group by date and count the number of articles read on each day
articles_per_day = df.groupby('read_date').size().reset_index(name='num_articles_read')

# Find the day with the most articles read
max_articles_day = articles_per_day.loc[articles_per_day['num_articles_read'].idxmax()]

# Print the date and the number of articles read for the day with the highest number of articles read
print("The day with the highest number of accesses:", max_articles_day['read_date'].strftime('%Y-%m-%d'))
print("Number of articles read on", max_articles_day['read_date'].strftime('%Y-%m-%d'), ':', max_articles_day['num_articles_read'])

The day with the highest number of accesses: 2021-01-06
Number of articles read on 2021-01-06 : 2

In [27]:
# Extract the month from the read date
df['month'] = df['read_date'].dt.month

# Group by month and count the number of articles read in each month
articles_per_month = df.groupby('month').size().reset_index(name='num_articles_read')

# Find the month with the highest number of articles read
max_articles_month = articles_per_month.loc[articles_per_month['num_articles_read'].idxmax()]

# Map the month number to the month name
month_names = {1: 'January', 2: 'February', 3: 'March', 4: 'April', 5: 'May', 6: 'June',
               7: 'July', 8: 'August', 9: 'September', 10: 'October', 11: 'November', 12: 'December'}

# Print the month with the highest number of articles read and the total readings of that month
max_month_num = max_articles_month['month']
max_month_name = month_names[max_month_num]
num_articles_max_month = max_articles_month['num_articles_read']

print("The month with the highest number of accesses:", max_month_name)
print("Number of articles read in", max_month_name, ":", num_articles_max_month)

The month with the highest number of accesses: February
Number of articles read in February : 11

In [29]:
# Group by article and get the count of readings for each article
articles_summary = df.groupby('article_id').size().reset_index(name='Read Count')

# Sort by the number of readings in descending order
articles_summary = articles_summary.sort_values(by='Read Count', ascending=False)

# Merge with the original DataFrame to get other information
top_articles = articles_summary.merge(df[['article_id', 'language', 'length', 'platform']], on='article_id')

# Select only the required columns
top_articles = top_articles.drop_duplicates(subset=['article_id']).head(3)  # Take the top 3 articles

# Print the table
print("Most read articles:")
print(top_articles[['article_id', 'language', 'length', 'platform', 'Read Count']])

Most read articles:
   article_id language length platform  Read Count
0        2129       it  short   mobile           1
1      711601       fr  short   tablet           1
2      633861       en   long   mobile           1

In [26]:
import calendar

# Extract the month from the 'read_date' column and get the month name
df['month'] = df['read_date'].dt.month
df['month_name'] = df['month'].apply(lambda x: calendar.month_name[x])

# Count the number of articles read for each month
articles_per_month = df['month_name'].value_counts()

# Get the three months with the highest number of articles read
top_three_months = articles_per_month.head(3)

# Creating a DataFrame for displaying the results as a table
result_table = pd.DataFrame(top_three_months.reset_index())
result_table.columns = ['Month', 'Number of articles read']

print("Top three months with the highest number of articles read:")
print(result_table.to_string(index=False))

Top three months with the highest number of articles read:
   Month  Number of articles read
February                       11
 October                       11
November                       10

In [19]:
# Count the number of articles read by each user
articles_per_user = df.groupby('user_uuid')['read_date'].count().reset_index()
articles_per_user.columns = ['user_uuid', 'Number of articles read']

# Find the users with the highest number of articles read
top_users = articles_per_user.nlargest(3, 'Number of articles read')

print("Users who have read the most articles:")
print(top_users.to_string(index=False))

Users who have read the most articles:
 user_uuid  Number of articles read
        94                        5
       209                        4
        34                        3

In [10]:
# Count the number of articles written by each journalist
articles_per_journalist = df.groupby('journalist_id')['article_id'].nunique().reset_index()
articles_per_journalist.columns = ['journalist_id', 'Number of articles written']

# Find the journalists with the highest number of articles written
top_journalists = articles_per_journalist.nlargest(3, 'Number of articles written')

print("Journalists who have written the most articles:")
print(top_journalists.to_string(index=False))

Journalists who have written the most articles:
 journalist_id  Number of articles written
           117                           8
           111                           7
           105                           6

In [12]:
# Group by category, article title, count occurrences, and sort by number of readings
top_articles = df.groupby(['article_id', 'category'])['read_date'].count().reset_index()
top_articles.columns = ['Article ID', 'Category', 'Number of Readings']
top_articles = top_articles.sort_values(by='Number of Readings', ascending=False).head(3)

print("Most read articles by category:")
print(top_articles.to_string(index=False))

Most read articles by category:
 Article ID Category  Number of Readings
       2129  economy                   1
     711601  weather                   1
     633861  finance                   1

In [31]:
# Summary by category

# Calculate the total number of articles
total_unique_articles = df['article_id'].nunique()
total_reads = len(df)

# Group by category and calculate various aggregate information
category_summary = df.groupby('category').agg({
    'language': lambda x: x.mode(),
    'length': lambda x: x.mode(),
    'platform': lambda x: x.mode(),
    'stars': 'mean',
    'article_id': lambda x: (len(x) / total_unique_articles) * 100,  # Add percentage of articles
    'read_date': lambda x: (len(x) / total_reads) * 100  # Add percentage of reads
}).reset_index()

# Round the percentages of articles and reads
category_summary['Percentage Articles'] = (category_summary['article_id'] / total_unique_articles) * 100
category_summary['Percentage Reads'] = (category_summary['read_date'] / total_reads) * 100

# Round the average ratings to two decimal places
category_summary['stars'] = category_summary['stars'].round(2)

# Sort by percentage of reads in descending order
category_summary = category_summary.sort_values(by='Percentage Reads', ascending=False)

# Round the percentage of articles to the nearest integer and add the "%" symbol
category_summary['Percentage Articles'] = category_summary['Percentage Articles'].astype(int).astype(str) + '%'

# Round the percentage of reads to the nearest integer and add the "%" symbol
category_summary['Percentage Reads'] = category_summary['Percentage Reads'].astype(int).astype(str) + '%'

# Remove the article_id and read_date fields
category_summary = category_summary.drop(['article_id', 'read_date'], axis=1)

# Rename the columns for clarity
category_summary.columns = ['Category', 'Language', 'Length', 'Platform', 'Average Ratings', 'Percentage Articles', 'Percentage Reads']

print("Summary by category\n")
print(category_summary.to_string(index=False))

Summary by category

 Category Language        Length     Platform  Average Ratings Percentage Articles Percentage Reads
  weather       it          long       tablet             3.00                 29%              29%
  finance       it         short       mobile             3.00                 18%              18%
    sport       en          long           pc             2.33                 18%              18%
lifestyle       it          long [pc, tablet]             2.85                 16%              16%
     news       it          long       tablet             3.20                 12%              12%
  economy       it         short           pc             2.33                 11%              11%
      art       it [long, short]       tablet             3.75                  4%               4%

In [30]:
import pandas as pd
import calendar

# Extract the month name from the 'read_date' column
df['Month'] = df['read_date'].dt.month
df['Month'] = df['Month'].apply(lambda x: calendar.month_name[x])

# Specify the chronological order of the months
month_order = [calendar.month_name[i] for i in range(1, 13)]
df['Month'] = pd.Categorical(df['Month'], categories=month_order, ordered=True)

# Group by month and unique user to get the number of unique users for each month
users_per_month = df.groupby(['Month'])['user_uuid'].nunique().reset_index()
users_per_month.columns = ['Month', 'Unique Users']

# Group by month and count the articles read for each month
articles_per_month = df.groupby(['Month']).size().reset_index(name='Articles Read')

# Group by month and count registrations for each month
registrations_per_month = df.groupby(['Month'])['subscription_date'].count().reset_index()
registrations_per_month.columns = ['Month', 'Subscriptions']

# Group by month and calculate total accesses for each month
total_accesses_per_month = df.groupby('Month').size().reset_index(name='Total Accesses')

# Merge the DataFrames on the 'Month' column
monthly_summary = pd.merge(users_per_month, articles_per_month, on='Month')
monthly_summary = pd.merge(monthly_summary, registrations_per_month, on='Month')
monthly_summary = pd.merge(monthly_summary, total_accesses_per_month, on='Month')

# Print the monthly summary
print(monthly_summary.to_string(index=False))

    Month  Unique Users  Articles Read  Subscriptions  Total Accesses
  January             6              7              7               7
 February             9             11             11              11
    March             8              8              8               8
    April             3              3              3               3
      May             2              2              2               2
     June             5              5              5               5
     July             8              8              8               8
   August            10             10             10              10
September             9              9              9               9
  October            11             11             11              11
 November             9             10             10              10
 December             6              6              6               6

In [ ]:
# Calculate the Pearson correlation coefficient between unique users and articles read
correlation = monthly_summary['Unique Users'].corr(monthly_summary['Articles Read'])

# Print the correlation coefficient
print(f"Pearson correlation coefficient between unique users and articles read: {correlation:.2f}")

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

# Calculate the Pearson correlation between 'Unique Users' and 'Articles Read'
correlation = monthly_summary['Unique Users'].corr(monthly_summary['Articles Read'], method='pearson')

# Create a plot to visualize the correlation
plt.figure(figsize=(8, 6))
sns.regplot(x='Unique Users', y='Articles Read', data=monthly_summary, scatter_kws={'s': 100})
plt.title(f'Pearson Correlation: {correlation:.2f}')
plt.xlabel('Unique Users')
plt.ylabel('Articles Read')
plt.grid(True)
plt.show()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

# Create a DataFrame with the two columns of interest
subset = monthly_summary[['Unique Users', 'Articles Read']]

# Calculate the Pearson correlation between the two columns
correlation = subset.corr()

# Create the heatmap of the correlation
plt.figure(figsize=(8, 6))
sns.heatmap(correlation, annot=True, cmap='coolwarm', fmt=".2f")
plt.title('Heatmap of Pearson Correlation between Unique Users and Articles Read')
plt.show()

In [95]:
import pandas as pd

#WEATHER

# Script 1 - Percentage of users interested in 'weather'
user_max_category = df.groupby('user_uuid')['category'].agg(lambda x: x.value_counts().idxmax())
weather_users_count = (user_max_category == 'weather').sum()
total_users = user_max_category.size
percentage_weather_users = ((weather_users_count / total_users) * 100).round(2)

# Script 2 - Reading preference percentages for each weather category
weather_users = df[df['category'] == 'weather']['user_uuid'].unique()
weather_users_list = list(weather_users)
weather_categories = ['weather', 'finance', 'sport', 'lifestyle', 'news', 'economy', 'art']
filtered_data = df[df['user_uuid'].isin(weather_users_list) & df['category'].isin(weather_categories)]
category_counts = filtered_data['category'].value_counts()
total_count = category_counts.sum()
category_percentages = (category_counts / total_count) * 100
rounded_percentages = category_percentages.round().astype(int)

# Create the table
weather_categories.remove('weather')  # Remove 'weather' from the category list
weather_table = pd.DataFrame(columns=['Preferred Cat.', '% Users', 'weather'] + weather_categories)

# Add row for each category within 'weather'
weather_table.loc[0] = ['weather', f"{percentage_weather_users}%", f"{category_percentages['weather']:.0f}%", *[f"{rounded_percentages[cat]}%" for cat in weather_categories]]

#NEWS

# Script 1 - Percentage of users interested in 'news'
user_max_category = df.groupby('user_uuid')['category'].agg(lambda x: x.value_counts().idxmax())
news_users_count = (user_max_category == 'news').sum()
total_users = user_max_category.size
percentage_news_users = ((news_users_count / total_users) * 100).round(2)

# Script 2 - Reading preference percentages for each news category
news_users = df[df['category'] == 'news']['user_uuid'].unique()
news_users_list = list(news_users)
news_categories = ['news', 'finance', 'sport', 'lifestyle', 'weather', 'economy', 'art']
filtered_data = df[df['user_uuid'].isin(news_users_list) & df['category'].isin(news_categories)]
category_counts = filtered_data['category'].value_counts()
total_count = category_counts.sum()
category_percentages = (category_counts / total_count) * 100
rounded_percentages = category_percentages.round().astype(int)

# Create the table
news_categories.remove('news')  # Remove 'news' from the category list
news_table = pd.DataFrame(columns=['Preferred Cat.', '% Users', 'news'] + news_categories)

# Add row for each category within 'news'
news_table.loc[0] = ['news', f"{percentage_news_users}%", f"{category_percentages['news']:.0f}%", *[f"{rounded_percentages[cat]}%" for cat in news_categories]]

#FINANCE

# Script 1 - Percentage of users interested in 'finance'
user_max_category = df.groupby('user_uuid')['category'].agg(lambda x: x.value_counts().idxmax())
finance_users_count = (user_max_category == 'finance').sum()
total_users = user_max_category.size
percentage_finance_users = ((finance_users_count / total_users) * 100).round(2)

# Script 2 - Reading preference percentages for each finance category
finance_users = df[df['category'] == 'finance']['user_uuid'].unique()
finance_users_list = list(finance_users)
finance_categories = ['finance', 'weather', 'sport', 'lifestyle', 'news', 'economy', 'art']
filtered_data = df[df['user_uuid'].isin(finance_users_list) & df['category'].isin(finance_categories)]
category_counts = filtered_data['category'].value_counts()
total_count = category_counts.sum()
category_percentages = (category_counts / total_count) * 100
rounded_percentages = category_percentages.round().astype(int)

# Create the table
finance_categories.remove('finance')  # Remove 'finance' from the category list
finance_table = pd.DataFrame(columns=['Preferred Cat.', '% Users', 'finance'] + finance_categories)

# Add row for each category within 'finance'
finance_table.loc[0] = ['finance', f"{percentage_finance_users}%", f"{category_percentages['finance']:.0f}%", *[f"{rounded_percentages[cat]}%" for cat in finance_categories]]

#LIFESTYLE

# Script 1 - Percentage of users interested in 'lifestyle'
user_max_category = df.groupby('user_uuid')['category'].agg(lambda x: x.value_counts().idxmax())
lifestyle_users_count = (user_max_category == 'lifestyle').sum()
total_users = user_max_category.size
percentage_lifestyle_users = ((lifestyle_users_count / total_users) * 100).round(2)

# Script 2 - Reading preference percentages for each lifestyle category
lifestyle_users = df[df['category'] == 'lifestyle']['user_uuid'].unique()
lifestyle_users_list = list(lifestyle_users)
lifestyle_categories = ['lifestyle', 'weather', 'finance', 'sport', 'news', 'economy', 'art']
filtered_data = df[df['user_uuid'].isin(lifestyle_users_list) & df['category'].isin(lifestyle_categories)]
category_counts = filtered_data['category'].value_counts()
total_count = category_counts.sum()
category_percentages = (category_counts / total_count) * 100
rounded_percentages = category_percentages.round().astype(int)

# Create the table
lifestyle_categories.remove('lifestyle')  # Remove 'lifestyle' from the category list
lifestyle_table = pd.DataFrame(columns=['Preferred Cat.', '% Users', 'lifestyle'] + lifestyle_categories)

# Add row for each category within 'lifestyle'
lifestyle_table.loc[0] = ['lifestyle', f"{percentage_lifestyle_users}%", f"{category_percentages['lifestyle']:.0f}%", *[f"{rounded_percentages.get(cat, 0)}%" for cat in lifestyle_categories]]

#SPORT

# Script 1 - Percentage of users interested in 'sport'
user_max_category = df.groupby('user_uuid')['category'].agg(lambda x: x.value_counts().idxmax())
sport_users_count = (user_max_category == 'sport').sum()
total_users = user_max_category.size
percentage_sport_users = ((sport_users_count / total_users) * 100).round(2)

# Script 2 - Reading preference percentages for each sport category
sport_users = df[df['category'] == 'sport']['user_uuid'].unique()
sport_users_list = list(sport_users)
sport_categories = ['sport', 'weather', 'finance', 'lifestyle', 'news', 'economy', 'art']
filtered_data = df[df['user_uuid'].isin(sport_users_list) & df['category'].isin(sport_categories)]
category_counts = filtered_data['category'].value_counts()
total_count = category_counts.sum()
category_percentages = (category_counts / total_count) * 100
rounded_percentages = category_percentages.round().astype(int)

# Create the table
sport_categories.remove('sport')  # Remove 'sport' from the category list
sport_table = pd.DataFrame(columns=['Preferred Cat.', '% Users', 'sport'] + sport_categories)

# Add row for each category within 'sport'
sport_table.loc[0] = ['sport', f"{percentage_sport_users}%", f"{category_percentages['sport']:.0f}%", *[f"{rounded_percentages.get(cat, 0)}%" for cat in sport_categories]]

#ECONOMY

# Script 1 - Percentage of users interested in 'economy'
user_max_category = df.groupby('user_uuid')['category'].agg(lambda x: x.value_counts().idxmax())
economy_users_count = (user_max_category == 'economy').sum()
total_users = user_max_category.size
percentage_economy_users = ((economy_users_count / total_users) * 100).round(2)

# Script 2 - Reading preference percentages for each economy category
economy_users = df[df['category'] == 'economy']['user_uuid'].unique()
economy_users_list = list(economy_users)
economy_categories = ['economy', 'weather', 'finance', 'lifestyle', 'news', 'sport', 'art']
filtered_data = df[df['user_uuid'].isin(economy_users_list) & df['category'].isin(economy_categories)]
category_counts = filtered_data['category'].value_counts()
total_count = category_counts.sum()
category_percentages = (category_counts / total_count) * 100
rounded_percentages = category_percentages.round().astype(int)

# Create the table
economy_categories.remove('economy')  # Remove 'economy' from the category list
economy_table = pd.DataFrame(columns=['Preferred Cat.', '% Users', 'economy'] + economy_categories)

# Add row for each category within 'economy'
economy_table.loc[0] = ['economy', f"{percentage_economy_users}%", f"{category_percentages['economy']:.0f}%", *[f"{rounded_percentages.get(cat, 0)}%" for cat in economy_categories]]

#ART

# Script 1 - Percentage of users interested in 'art'
user_max_category = df.groupby('user_uuid')['category'].agg(lambda x: x.value_counts().idxmax())
art_users_count = (user_max_category == 'art').sum()
total_users = user_max_category.size
percentage_art_users = ((art_users_count / total_users) * 100).round(2)

# Script 2 - Reading preference percentages for each art category
art_users = df[df['category'] == 'art']['user_uuid'].unique()
art_users_list = list(art_users)
art_categories = ['art', 'weather', 'finance', 'lifestyle', 'news', 'sport', 'economy']
filtered_data = df[df['user_uuid'].isin(art_users_list) & df['category'].isin(art_categories)]
category_counts = filtered_data['category'].value_counts()
total_count = category_counts.sum()
category_percentages = (category_counts / total_count) * 100
rounded_percentages = category_percentages.round().astype(int)

# Create the table
art_categories.remove('art')  # Remove 'art' from the category list
art_table = pd.DataFrame(columns=['Preferred Cat.', '% Users', 'art'] + art_categories)

# Add row for each category within 'art'
art_table.loc[0] = ['art', f"{percentage_art_users}%", f"{category_percentages['art']:.0f}%", *[f"{rounded_percentages.get(cat, 0)}%" for cat in art_categories]]

# Combine DataFrames

# Set indices to identify rows (0 and 1) in the DataFrames
weather_table.index = [0]
finance_table.index = [1]
sport_table.index = [2]
lifestyle_table.index = [3]
news_table.index = [4]
economy_table.index = [5]
art_table.index = [6]

# Concatenate the two DataFrames along the row axis
combined_table = pd.concat([weather_table, finance_table, sport_table, lifestyle_table, news_table, economy_table, art_table])

# Print the combined table
combined_table

  Preferred Cat. % Users weather finance sport lifestyle news economy  art
0        weather  24.53%     59%      7%   10%        7%   7%      7%   2%
1        finance  13.21%      9%     44%   15%       15%   6%      9%   3%
2          sport  22.64%     14%     21%   52%       10%   3%      0%   0%
3      lifestyle  11.32%      8%     16%   12%       52%   4%      8%   0%
4           news  13.21%     11%     11%    5%        5%  53%     11%   5%
5        economy  11.32%     18%     14%    0%        9%  14%     41%   5%
6            art   3.77%     11%     11%    0%        0%  22%     11%  44%

In [69]:
# Save the new DataFrame in a new csv file
combined_table.to_csv('calculated_table.csv', index=False)

In [109]:
# Importing data
df_raw = pd.read_csv('calculated_table.csv')

# Creating a copy of the raw data to mantain the original version just in case
df = df_raw.copy()

In [111]:
df

  Preferred Cat. % Users weather finance sport lifestyle news economy  art
0        weather  24.53%     59%      7%   10%        7%   7%      7%   2%
1        finance  13.21%      9%     44%   15%       15%   6%      9%   3%
2          sport  22.64%     14%     21%   52%       10%   3%      0%   0%
3      lifestyle  11.32%      8%     16%   12%       52%   4%      8%   0%
4           news  13.21%     11%     11%    5%        5%  53%     11%   5%
5        economy  11.32%     18%     14%    0%        9%  14%     41%   5%
6            art   3.77%     11%     11%    0%        0%  22%     11%  44%

In [112]:
# Remove the percentage symbol and convert to float
df['% Users'] = df['% Users'].str.rstrip('%').astype(float)
df[['weather', 'finance', 'sport', 'lifestyle', 'news', 'economy', 'art']] = df[
    ['weather', 'finance', 'sport', 'lifestyle', 'news', 'economy', 'art']
].apply(lambda x: x.str.rstrip('%').astype(float))

#P1

# Select weather and sport records
selected_rows = df[(df['Preferred Cat.'] == 'weather') | (df['Preferred Cat.'] == 'sport')]

# Drop the 'Preferred Cat.' field
selected_rows = selected_rows.drop(columns=['Preferred Cat.'])

# Sum the '% Users' fields
sum_users = selected_rows['% Users'].sum()

# Calculate the mean for the other fields
selected_rows_mean = selected_rows.drop(columns=['% Users']).mean().astype(int)

# Apply the '%' symbol to numeric values
selected_rows_mean = selected_rows_mean.apply(lambda x: f"{x}%" if isinstance(x, (int, float)) else x)

# Add the 'Name' field with the value 'P1'
selected_rows_mean = pd.concat([selected_rows_mean, pd.Series({'Name': 'P1'})])

# Create a new DataFrame with the obtained values
P1 = pd.DataFrame(selected_rows_mean).transpose()
P1['% Users'] = f"{sum_users}%"

# Rearrange the column order
new_order = ['Name', '% Users', 'weather', 'finance', 'sport', 'lifestyle', 'news', 'economy', 'art']
P1 = P1[new_order]

#P2

# Select finance and economy records
selected_rows = df[(df['Preferred Cat.'] == 'finance') | (df['Preferred Cat.'] == 'economy')]

# Drop the 'Preferred Cat.' field
selected_rows = selected_rows.drop(columns=['Preferred Cat.'])

# Sum the '% Users' fields
sum_users = selected_rows['% Users'].sum()

# Calculate the mean for the other fields
selected_rows_mean = selected_rows.drop(columns=['% Users']).mean().astype(int)

# Add the 'Name' field with the value 'P2'
selected_rows_mean = pd.concat([selected_rows_mean, pd.Series({'Name': 'P2'})])

# Apply the '%' symbol to numeric values
selected_rows_mean = selected_rows_mean.apply(lambda x: f"{x}%" if isinstance(x, (int, float)) else x)

# Create a new DataFrame with the obtained values
P2 = pd.DataFrame(selected_rows_mean).transpose()
P2['% Users'] = f"{sum_users}%"

# Rearrange the column order
new_order = ['Name', '% Users', 'weather', 'finance', 'sport', 'lifestyle', 'news', 'economy', 'art']
P2 = P2[new_order]

#P3

# Select lifestyle, art, and news records
selected_rows = df[(df['Preferred Cat.'].isin(['lifestyle', 'art', 'news']))]

# Concatenate the selected records
selected_rows = pd.concat([selected_rows])

# Drop the 'Preferred Cat.' field
selected_rows = selected_rows.drop(columns=['Preferred Cat.'])

# Sum the '% Users' fields
sum_users = selected_rows['% Users'].sum()

# Calculate the mean for the other fields
selected_rows_mean = selected_rows.drop(columns=['% Users']).mean().astype(int)

# Add the 'Name' field with the value 'P1'
selected_rows_mean = pd.concat([selected_rows_mean, pd.Series({'Name': 'P3'})])

# Apply the '%' symbol to numeric values
selected_rows_mean = selected_rows_mean.apply(lambda x: f"{x}%" if isinstance(x, (int, float)) else x)

# Create a new DataFrame with the obtained values
P3 = pd.DataFrame(selected_rows_mean).transpose()
P3['% Users'] = f"{sum_users}%"

# Rearrange the column order
new_order = ['Name', '% Users', 'weather', 'finance', 'sport', 'lifestyle', 'news', 'economy', 'art']
P3 = P3[new_order]

# Combine DataFrames

# Set indices to identify rows (0 and 1) in the DataFrames
P1.index = [0]
P2.index = [1]
P3.index = [2]

# Concatenate the two DataFrames along the row axis
combined_table = pd.concat([P1, P2, P3])

# Print the combined table
combined_table

  Name % Users weather finance sport lifestyle news economy  art
0   P1  47.17%     36%     14%   31%        8%   5%      3%   1%
1   P2  24.53%     13%     29%    7%       12%  10%     25%   4%
2   P3   28.3%     10%     12%    5%       19%  26%     10%  16%

In [125]:
# Importing data
df_raw = pd.read_csv('calculated_table2.csv')

# Creating a copy of the raw data to mantain the original version just in case
df = df_raw.copy()

In [126]:
df

  Name  % Users  weather  finance  sport  lifestyle  news  economy   art
0   P1    47.17     36.0     14.0   31.0        8.0   5.0      3.0   1.0
1   P2    24.53     13.0     29.0    7.0       12.0  10.0     25.0   4.0
2   P3    28.30     10.0     12.0    5.0       19.0  26.0     10.0  16.0

In [120]:
# Remove the percentage symbol and convert to float
df['% Users'] = df['% Users'].str.rstrip('%').astype(float)
df[['weather', 'finance', 'sport', 'lifestyle', 'news', 'economy', 'art']] = df[
    ['weather', 'finance', 'sport', 'lifestyle', 'news', 'economy', 'art']
].apply(lambda x: x.str.rstrip('%').astype(float))

AttributeError: Can only use .str accessor with string values!

In [127]:
df

  Name  % Users  weather  finance  sport  lifestyle  news  economy   art
0   P1    47.17     36.0     14.0   31.0        8.0   5.0      3.0   1.0
1   P2    24.53     13.0     29.0    7.0       12.0  10.0     25.0   4.0
2   P3    28.30     10.0     12.0    5.0       19.0  26.0     10.0  16.0

In [128]:

# Sum the 'weather' and 'sport' values in the row with name 'P1'
row_P1 = df[df['Name'] == 'P1']
total = row_P1['weather'].values[0] + row_P1['sport'].values[0]

# Add the 'sum' column with the sum of 'weather' and 'sport' values in the 'P1' row
df.loc[df['Name'] == 'P1', '% Preference'] = total

# Sum the 'economy' and 'finance' values in the row with name 'P2'
row_P2 = df[df['Name'] == 'P2']
total_P2 = row_P2['economy'].values[0] + row_P2['finance'].values[0]

# Add the '% Preference' column with the sum of 'economy' and 'finance' values in the 'P2' row
df.loc[df['Name'] == 'P2', '% Preference'] = total_P2

# Sum the 'art', 'lifestyle', and 'news' values in the row with name 'P3'
row_P3 = df[df['Name'] == 'P3']
total_P3 = row_P3['art'].values[0] + row_P3['lifestyle'].values[0] + row_P3['news'].values[0]

# Add the '% Preference' column with the sum of 'art', 'lifestyle', and 'news' values in the 'P3' row
df.loc[df['Name'] == 'P3', '% Preference'] = total_P3

# List of columns to remove
columns_to_remove = ['weather', 'finance', 'sport', 'lifestyle', 'news', 'economy', 'art']

# Remove the specified columns from the DataFrame
df = df.drop(columns=columns_to_remove)

# Select only the columns '% Users' and '% Preference' and round the values to integers
columns_to_round = ['% Preference']
df[columns_to_round] = df[columns_to_round].astype(int)

# Add the '%' symbol only to the columns '% Users' and '% Preference'
columns_to_add_percent = ['% Users', '% Preference']
df[columns_to_add_percent] = df[columns_to_add_percent].astype(str) + '%'

df

  Name % Users % Preference
0   P1  47.17%          67%
1   P2  24.53%          54%
2   P3   28.3%          61%

In [ ]:
df

In [ ]:
# Save the new DataFrame into a new CSV file
df.to_csv('dataset_2021.csv', index=False)

In [ ]:
df